In [1]:
import pandas as pd
df = pd.read_csv('drinks.txt')

In [2]:
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [77]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

##### Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

In [37]:
# Transformar Coluna em Lista
# df.describe() para validar os valores 

list_df = list(df.columns)

for column in list_df:
    if column != 'country':
        print(f"A média para {column} é de {df[column].mean()}")
    else:
        pass

print(" ")
    
for column in list_df:
    if column != 'country':
        print(f"O desvio Padrão para {column} é de {df[column].std()}")
    else:
        pass

A média para beer_servings é de 106.16062176165804
A média para spirit_servings é de 80.99481865284974
A média para wine_servings é de 49.45077720207254
A média para total_litres_of_pure_alcohol é de 4.717098445595855

O desvio Padrão para beer_servings é de 101.14310253931335
O desvio Padrão para spirit_servings é de 88.2843121096862
O desvio Padrão para wine_servings é de 79.69759845763012
O desvio Padrão para total_litres_of_pure_alcohol é de 3.773298164356083

#####  Qual o consumo de licor na França?

In [63]:
df_France = df[df['country'] == 'France']
print(f"O consumo de licor na França é de {df_France['spirit_servings'].values}")

df_licor = df[['country','spirit_servings']]
df_licor.sort_values(by = 'spirit_servings', ascending=False).head(25)
df_licor.describe()

print(f"\nA média de consumo de licor é de {df_licor.mean().values} e o valor do Terceiro Quadrante é de {df_licor.quantile(0.75).values}")

print("\nAnalisando o consumido em todos os países, apesar da França estar acima da média e acima do terceiro quadrante, ainda assim quem domina o ranking de consumo de licor são países orientais, provavelmente por questões culturais.")

O consumo de licor na França é de [151]

A média de consumo de licor é de [80.99481865] e o valor do Terceiro Quadrante é de [128.]

Analisando o consumido em todos os países, apesar da França estar acima da média e acima do terceiro quadrante, ainda assim quem domina o ranking de consumo de licor são países orientais, provavelmente por questões culturais.

#####  Quais os 5 países nos quais se consome mais vinho?

In [66]:
df_top5 = df[['country','wine_servings']]

print('Diferente da Questão de Licor, quem domina o ranking de consumo de vinho são os países europeus')

df_top5.sort_values(by = 'wine_servings', ascending=False).head(5)

Diferente da Questão de Licor, quem domina o ranking de consumo de vinho são os países europeus

         country  wine_servings
61        France            370
136     Portugal            339
3        Andorra            312
166  Switzerland            280
48       Denmark            278

#####  Quais os países nos quais o consumo de cerveja está acima da média?

In [82]:
df_beer = df[['country','beer_servings']]
media_cons_beer_array = df_beer.mean().values
media_cons_beer = media_cons_beer_array[0]

df_beer[df_beer['beer_servings'] > media_cons_beer].sort_values(by='beer_servings',ascending=False)

                          country  beer_servings
117                       Namibia            376
45                 Czech Republic            361
62                          Gabon            347
65                        Germany            346
135                        Poland            343
..                            ...            ...
11                        Bahamas            122
145  St. Vincent & the Grenadines            120
185                       Uruguay            115
189                       Vietnam            111
139                       Moldova            109

[76 rows x 2 columns]

#####  Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

In [94]:
filter_Brazil = df[df['country'] == 'Brazil']['total_litres_of_pure_alcohol'].values
filter_Brazil[0]

df_total_litres = df[df['total_litres_of_pure_alcohol'] > filter_Brazil[0]]
df_total_litres.sort_values(by='total_litres_of_pure_alcohol',ascending=True)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
132,Paraguay,213,117,74,7.3
35,Chile,130,124,172,7.6
188,Venezuela,333,100,3,7.7
143,St. Kitts & Nevis,194,205,32,7.7
159,South Africa,225,76,81,8.2
32,Canada,240,122,100,8.2
44,Cyprus,192,154,113,8.2
6,Argentina,193,25,221,8.3
179,Uganda,45,9,0,8.3
67,Greece,133,112,218,8.3
184,USA,249,158,84,8.7
62,Gabon,347,98,59,8.9
180,Ukraine,206,237,45,8.9
124,Nigeria,42,5,2,9.1
121,New Zealand,203,79,175,9.3
120,Netherlands,251,88,190,9.4
57,Estonia,224,194,59,9.5
151,Serbia,283,131,127,9.6
9,Austria,279,75,191,9.7
138,South Korea,140,16,9,9.8
60,Finland,263,133,97,10.0
160,Spain,284,157,112,10.0
144,St. Lucia,171,315,71,10.1
166,Switzerland,185,100,280,10.2
42,Croatia,230,87,254,10.2
25,Bulgaria,231,252,94,10.3
8,Australia,261,72,212,10.4
140,Romania,297,122,167,10.4
182,United Kingdom,219,126,195,10.4
48,Denmark,224,81,278,10.4
16,Belgium,295,84,212,10.5
93,Latvia,281,216,62,10.5
156,Slovenia,270,51,276,10.6
135,Poland,343,215,56,10.9
136,Portugal,194,67,339,11.0
75,Hungary,234,215,185,11.3
65,Germany,346,117,175,11.3
99,Luxembourg,236,133,271,11.4
155,Slovakia,196,293,116,11.4
81,Ireland,313,118,165,11.4
141,Russian Federation,247,326,73,11.5
45,Czech Republic,361,170,134,11.8
61,France,127,151,370,11.8
68,Grenada,199,438,28,11.9
3,Andorra,245,138,312,12.4
98,Lithuania,343,244,56,12.9
15,Belarus,142,373,42,14.4

#### AVALIAÇÃO

In [104]:
total_country = df['country'].count()
pior_que_brazil = df_total_litres['country'].count()

print(f'De um total de {total_country} países, temos {pior_que_brazil} países com o consumo em litros de alcool puro maior que o Brasil, ainda assim, considerando que estamos na posição de {pior_que_brazil+1}, temos que ficar alarmados com o risco de doenças e distúrbios ligados ao alcool no país, tendo em vista uma média mundial de {df["total_litres_of_pure_alcohol"].mean()}, menor que a nossa de 7.2')

De um total de 193 países, temos 47 países com o consumo em litros de alcool puro maior que o Brasil, ainda assim, considerando que estamos na posição de 48, temos que ficar alarmados com o risco de doenças e distúrbios ligados ao alcool no país, tendo em vista uma média mundial de 4.717098445595855, menor que a nossa de 7.2